.footer {
      margin: auto;
      display: block;
      text-align: center;
      font-size: larger;
      font-weight: bold;
      width: 99%;
      background-color: whitesmoke;
      border: 0.2rem outset gray;
      border-radius: 0.3rem;
}

@media screen and (max-width: 1090px) {
      .footer {
            font-size: smaller;
      }
}