.title-cutter {
    border: 1em solid #00e3ae;
}

.title {
    display: flex;
    width: fit-content;
    margin: auto;
    font-size: 1.7em;
    font-weight: bold;
    background-color: #8bcbe7;
    padding: 0.3em 0.8em 0.3em 0.8em;
    border: 0.1em solid black;
    border-radius: 0.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: translate3d(-50%, -50%, 0) scale(0);
    animation: showingTitle 1.5s forwards;
    opacity: 0;

}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

@keyframes showingTitle {
    0% {
        transform: translate3d(0, 0, -2em) scale(0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }
}

