@media screen and (min-width: 980px) {
      .nav-bar {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: #00e3ae;
            border-color: gray;
            border-style: outset;
            border-width: 0.2em;
            border-radius: 0.3em;
            position: sticky;
            top: 0;
            font-size: smaller;
      }
}

.nav-bar {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: #00e3ae;
      border-color: gray;
      border-style: outset;
      border-width: 0.2em;
      border-radius: 0.3em;
      position: sticky;
      top: 0;
      font-size: smaller;
}

.menu {
      display: flex;
      position: absolute;
      top: 0.75rem;
      right: 0.5rem;
      flex-direction: column;
      justify-content: space-between;
      width: 2.25rem;
      height: 2rem;
  }
  
.menu span {
      height: 0.4rem;
      width: 100%;
      background-color: darkcyan;
      border-radius: 0.2rem;
  }

.logo {
      width: 4em;
      height: 4em
}

.authorization-button {
      background-color: #00ffc3;
      border-color: #808080;
      border-style: inset;
      border-width: 0.2em;
      border-radius: 0.3em;
      padding: 0.2em 0.8em 0.2em 0.8em;
      margin: 0 1em 0 1em;
      font-family: 'Lucida Sans Unicode';
      font-weight: bold;
}

.profile-button {
      background-color: #50ffff;
      border-color: #808080;
      border-style: inset;
      border-width: 0.2em;
      border-radius: 0.3em;
      padding: 0.2em 0.8em 0.2em 0.8em;
      margin: 0 1em 0 1em;
      font-family: 'Lucida Sans Unicode';
      font-weight: bold;
}

.profile-button:hover {
      background-color: #596b6b;
}

.profile-menu {
      display: block;
      background-color: #89b9ce;
      position: absolute;
      inset: 0px 0px auto auto;
      margin: 0px;
      transform: translate(-8.6em, 3.2em);
      width: fit-content;
      text-align: center;
      border-color: #808080;
      border-style: inset;
      border-width: 0.2em;
      border-radius: 0.3em;
      /* padding: 0.2em 0.8em 0.2em 0.8em; */
}

.profile-menu div:hover {
      cursor: pointer;
      background-color: lightblue;
}

.authentication-button {
      background-color: #00b17c;
      border-color: #808080;
      border-style: inset;
      border-width: 0.2em;
      border-radius: 0.3em;
      padding: 0.2em 0.8em 0.2em 0.8em;
      margin: 0 1em 0 1em;
      font-family: 'Lucida Sans Unicode';
      font-weight: bold;
}

button:hover {
      background-color: #8bcbe7;
}

.login-form {
      display: block;
      background-color: #89b9ce;
      position: absolute;
      inset: 0px 0px auto auto;
      margin: 0px;
      transform: translate(-1em, 3.2em);
      width: 20em;
      text-align: center;
      border-color: #808080;
      border-style: inset;
      border-width: 0.2em;
      border-radius: 0.3em;
      padding: 0.2em 0.8em 0.2em 0.8em;
}

.login-form input {
      width: 16em;
      border-color: #808080;
      border-style: inset;
      border-width: 0.2em;
      border-radius: 0.3em;
      padding: 0.2em 0.8em 0.2em 0.8em;
}