nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: #00e3ae;
      border: 0.2em solid gray;
      border-radius: 0.3em;
      position: sticky;
      top: 0;
      font-size: smaller;
}

nav #menu {
      display: none;
}

.menu {
      display: none;
}

.logo {
      width: 4em;
      height: 4em
}

.i18-img {
      cursor: pointer;
      height: 1.8em;
      width: 2.2em;
}

.authorization-button {
      background-color: #00ffc3;
      border: 0.2em inset gray;
      border-radius: 0.3em;
      padding: 0.2em 0.8em 0.2em 0.8em;
      margin: 0 1em 0 1em;
      font-family: 'Lucida Sans Unicode';
      font-weight: bold;
}

.profile-button {
      background-color: #50ffff;
      border: 0.2em inset gray;
      border-radius: 0.3em;
      padding: 0.2em 0.8em 0.2em 0.8em;
      margin: 0 1em 0 1em;
      font-family: 'Lucida Sans Unicode';
      font-weight: bold;
}

.profile-button:hover {
      background-color: #596b6b;
}

.authentication-button {
      background-color: #00b17c;
      border: 0.2em inset gray;
      border-radius: 0.3em;
      padding: 0.2em 0.8em 0.2em 0.8em;
      margin: 0 1em 0 1em;
      font-family: 'Lucida Sans Unicode';
      font-weight: bold;
}

button:hover {
      background-color: #8bcbe7;
}

.login-form {
      display: block;
      background-color: #89b9ce;
      position: absolute;
      inset: 0px 0px auto auto;
      transform: translate(-1em, 3.2em);
      width: 20em;
      text-align: center;
      border: 0.2em inset gray;
      border-radius: 0.3em;
      padding: 0.2em 0.8em 0.2em 0.8em;
}

.login-form input {
      width: 16em;
      border: 0.2em inset gray;
      border-radius: 0.3em;
      padding: 0.2em 0.8em 0.2em 0.8em;
}

@media screen and (max-width: 1090px) {
      nav #main-buttons {
            display: flex;
            background-color: #89b9ce;
            flex-direction: column;
            position: absolute;
            top: 2.2em;
            left: -2em;
            text-align: center;
            border: 0.2em inset #808080;
            border-radius: 0.3em;
            padding: 0.2em 0 0.2em 0;
      }

      nav #menu{
            display: block;
      }

      nav #main-buttons a {
            margin-bottom: 0.5em;
      }

      nav #profile {
            scale: 0.9;
      }

      .login-form {
            transform: translate(-1em, 2.7em);
      }

      .menu {
            scale: 0.9;
            display: flex;
            margin: auto;
            position: relative;
      }

      .logo {
            height: 3em;
            width: 3em;
      }

      .i18-img {
            height: 1.4em;
            width: 1.8em;
      }
}